$font-stack: "Roboto", sans-serif;
$COLOR_GRAY: rgba(239, 239, 239, 1);
$COLOR_GREEN: rgba(102, 192, 93, 1);
$COLOR_DARK: rgba(51, 51, 51, 1);
$COLOR_BLACK: rgba(0, 0, 0, 1);
$COLOR_WHITE: rgb(255, 255, 255);